<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>WaveBYOLServing</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="parent">
    <div class="zero">
        <H2>FOODBYOL<br> Recognition API</H2>
        <H4>By Sunghyun Kim, Ubinet Lab.<br>School of Robotics, Kwangwoon Univ.</H4>
    </div>
    <div class="first">
        <form action="http://192.168.50.125:8904//predict" method="POST"
              enctype="multipart/form-data">
            <div class="file-upload">
                <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add
                    JPG File
                </button>

                <div class="gt-image-upload-wrap">
                    <input class="file-upload-input" type='file' name = "gt_file"/>
                    <div class="drag-text">
                        <h3>Drag and drop a file or select add .jpg File</h3>
                    </div>
                </div>
                <div class="gt-file-upload-content">
                    <div class="gt-image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span
                                class="gt-image-title">Uploaded Image</span>
                        </button>
                    </div>
                </div>
                <input type="submit" class="verification" value="Start Food Recognition"/>
            </div>
        </form>
    </div>
    <div class="second">

    </div>
    <div class="thrid">
        <div class="file-upload">

        </div>
    </div>
</div>

</body>
</html>